@mixin message {
    padding: 12px 20px;
    width: 100%;
    @include font-b;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background-color: $black-1;
    color: $white;

    svg {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }

    span {
        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        text-align: left;

        &.devider {
            flex-shrink: 0;
            width: 0;
            border-top: none;
            border-right: solid 1px $black-2;
            flex: 0;
            height: 16px;
        }
    }
}

@mixin gradient-color {
    background: $turquoise;
    background: linear-gradient(143deg, $turquoise, $persian-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin scrollbar($scroll-bg: transparent, $scroll-color: $black, $width: 0, $hover-color: $black) {
    &::-webkit-scrollbar {
        width: $width;
        height: $width;
        background-color: $scroll-bg;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        background-color: $scroll-bg;
        width: $width;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scroll-color;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 10px;
        // border-left: 2px white solid;

        &:hover {
            background-color: $hover-color;
        }
    }

    &::-webkit-scrollbar-thumb:horizontal {
        min-width: 40px;
    }
    &::-webkit-scrollbar-thumb:vertical {
        min-height: 40px;
    }
}

@mixin input {
    width: 100%;
    padding: 9px 16px;
    height: 52px;
    @include font-btn;
    color: $white;
    background: $black-1;
    border: 1px solid $black;
    border-radius: 8px;
    outline: none;
    color-scheme: dark;

    &:hover,
    &:focus {
        background: $black-0;
        border-color: $persian-blue;
    }

    &:disabled {
        opacity: .4;
        &:hover,
        &:focus {
            background: $black-1;
            border-color: $black;
        }
    }

    &:disabled ~ .actions-block {
        display: none;
    }

    & ~ .actions-block {
        .clean  {
            opacity: 0;
        }
    }

    &:not(:placeholder-shown) ~ .actions-block {
        .clean {
            opacity: 1;
        }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
}

@mixin sunshine($duration, $deg, $id) {
    animation: sunshine-gradient-#{$id} $duration linear infinite;
    @keyframes sunshine-gradient-#{$id} {
        0% {
            -webkit-mask-image: linear-gradient($deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
        }
        74% {
            -webkit-mask-image: linear-gradient($deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
        }
        @for $i from 0 through 25 {
            #{$i * 1% + 75%} {
                -webkit-mask-image: linear-gradient($deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) $i * 4%, rgba(0, 0, 0, 1) $i * 4% + 10%, rgba(0, 0, 0, 0) $i * 4% + 20%, rgba(0, 0, 0, 0) 100%);
            }
        }
    }
}