span[data-v-af139033] {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background: linear-gradient(143deg, var(--Color-primary-turquoise), var(--Color-primary-persian-blue));
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--Color-primary-white);
  border-radius: 50%;
  text-transform: uppercase;
}
span.big[data-v-af139033] {
  width: 94px;
  height: 94px;
  background-color: var(--Color-primary-persian-blue);
  font-size: 52px;
}