:root {
    --Color-primary-black: #02122b;
    --Color-primary-black-0: #010914;
    --Color-primary-black-1: #061B3A;
    --Color-primary-black-2: #f3f4f5;
    --Color-primary-black-3: #11284a;

    --Color-primary-white: #ffffff;
    --Color-primary-turquoise: #33E6BF;
    --Color-primary-persian-blue: #0439C7;
};
